{{> header}}

<section class="article">
    <header class="article-header">
        <h1 class="article-title">{{article.title}}</h1>
        <p class="article-meta">By  <strong>{{article.author.firstname}}</strong>, on <strong>{{article.addedAt}}</strong></p>
    </header>

    <div class="article-description">
        <h3> <u> {{article.headline}} </u> </h3>

        <p>Words in this article: {{article.words}}</p>
        <p>Lix value of article: {{article.lix}}</p>
        <p>Lixlevel: {{lixLevel}}</p>

        {{article.content}}
    </div>
</section>

{{> footer}}