{{> header }}

    <h1>{{ title }}</h1>

    <form action="" name="myform" method="post">
        <p>Indtast et tal - f.eks. 3 for 3-tabellen:<br> <input type="text" name="tal" /></p>
        <p>Indtast et tal for at angive, hvor mange tal der skal retuneres: <br><input type="text" name="takeNumbers"></p>
        <p><input type="submit" value="Submit" /> </p>
    </form>

    <p>Input : {{#tal}} {{tal}} {{/tal}}</p>
    <p>Output : {{#table}} {{ table }} {{/table}}</p>
{{> footer }}