{{> header}}

<h1>{{title}}</h1>

<div class="users">
    {{#users}}
        <section class="user-section">
            <header class="user-name">
                <h2><strong>{{ login }}</strong></h2>
            </header>
            <p>{{ firstname }} {{ lastname }}</p>
            <div>
                {{ #description }}
                    <p>{{ description }}</p>
                {{ /description }}
                {{ ^description }}
                    <p>No description!</p>
                {{ /description }}
            </div>
        </section>
    {{/users}}
</div>
<a href="/"> Back to main page </a>
{{> footer}}